.panel.panel-default
  .panel-heading.text-center
    年号早見表
  %table.table.table-striped
    %tbody
      - @eras.each do |eras|
        %tr
          %td.text-center= "#{eras[:christian_year]}年"
          %td.text-center= "平成 #{eras[:year]}年"
