%meta{charset: 'UTF-8'}

-# モバイルに対応している場合のみ書く
%link{media: 'handheld', rel: 'alternate', href: "http://xn--vqq618aea808a.jp/"}

-# 言語を指定する
%link{rel: "alternate", href: "http://xn--vqq618aea808a.jp/", hreflang: "ja"}

%link{rel: "apple-touch-icon", href: image_url("appIcon.png")}

- set_meta_tags site: '今年は平成何年', title: "#{Time.now.year}は平成何年", reverse: true
- set_meta_tags description: '平成何年.jpは今年平成何年かを確認できます。'
- set_meta_tags keywords: %w|平成 平成何年 今年 何年 今年何年|
- set_meta_tags author: "https://twitter.com/Kyuden_"
- set_meta_tags viewport: "width=device-width, initial-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
- set_meta_tags "apple-mobile-web-app-capable" => "yes"
- set_meta_tags "apple-mobile-web-app-status-bar-style" => "black-translucent"
= display_meta_tags
